* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  height: 26px;
  text-indent: 6px;
  outline: none;
  border: 0;
}
input::placeholder {
  font-size: 12px;
  color: #A9B5CC;
  letter-spacing: 0.75px;
}
html {
  background: #000;
}
.hide-of-log-info {
  display: none;
}
body {
  width: 253px;
  background: #FFF;
  font-family: "Microsoft YaHei";
}
body .login-frame-qm {
  width: 253px;
  background: #FFF;
  border: 1px solid transparent;
  box-sizing: border-box;
}
body .login-frame-qm .header-of-third-login-BH {
  padding-top: 6px;
  box-sizing: border-box;
  margin: 0 11px 25px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .login-frame-qm .header-of-third-login-BH span {
  font-size: 12px;
  color: #3E4758;
  letter-spacing: 0.75px;
}
body .login-frame-qm .header-of-third-login-BH img {
  width: 8px;
}
body .login-frame-qm .wrap-one-of-BH .bindways-login-BH {
  width: 100%;
}
body .login-frame-qm .wrap-one-of-BH .bindways-login-BH ul {
  margin: 0 auto 13px;
  overflow: hidden;
  text-align: center;
  font-size: 0;
}
body .login-frame-qm .wrap-one-of-BH .bindways-login-BH ul li {
  display: inline-block;
  width: 51px;
  height: 20px;
  font-size: 12px;
  color: #8A97AF;
  letter-spacing: 0.75px;
  margin-right: 21px;
  cursor: pointer;
}
body .login-frame-qm .wrap-one-of-BH .bindways-login-BH ul li.active {
  border-bottom: 1px solid red;
  box-sizing: border-box;
  color: #DE394A;
}
body .login-frame-qm .wrap-one-of-BH .bindways-login-BH ul li:hover {
  color: #DE394A;
  border-bottom: 1px solid red;
  box-sizing: border-box;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul li {
  width: 215px;
  height: 30px;
  margin: 0 auto 8px;
  border: 1px solid #C3C9D5;
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .bind-login-BH {
  margin: 16px auto 26px;
  text-align: center;
  line-height: 35px;
  width: 215px;
  height: 35px;
  background: #4F596D;
  border-radius: 2px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.88px;
  cursor: pointer;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .bind-login-BH:hover {
  opacity: 0.9;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .warning-msg {
  position: absolute;
  right: 36px;
  bottom: 28px;
  color: red;
  font-size: 12px;
  z-index: 33;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .mobile-info {
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .mobile-info .china-mobile {
  width: 68px;
  height: 26px;
  margin-right: 8px;
  border: 1px solid #C3C9D5;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .mobile-info .china-mobile input {
  width: 50px;
  height: 24px;
  color: #3E4758;
  letter-spacing: 0.75px;
  font-size: 12px;
  outline: none;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .mobile-info .china-mobile .arrow-qm {
  width: 5px;
  color: #8A97AF;
  padding: 0 8px 0 0;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .mobile-info #mobile-phone {
  width: 139px;
  border: 1px solid #C3C9D5;
  box-sizing: border-box;
  border-radius: 2px;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .vertifycode-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #C3C9D5;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .vertifycode-info input {
  width: 84px;
  margin-left: 3px;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .vertifycode-info .imgcode-BH {
  width: 53px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  margin-right: 9px;
  cursor: pointer;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .messagecode-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .messagecode-info input {
  width: 84px;
  margin-left: 3px;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .messagecode-info h4 {
  font-size: 12px;
  color: #3E4758;
  letter-spacing: 0.75px;
  font-weight: normal;
  margin-right: 7px;
  cursor: pointer;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul .exp-packages-list {
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  color: #8A97AF;
  font-size: 12px;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul.hide-of-log-info li {
  width: 215px;
  height: 30px;
  margin: 0 auto 8px;
  border: 1px solid #C3C9D5;
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul.hide-of-log-info .warning-msg {
  position: absolute;
  right: 135px;
  bottom: 28px;
  color: red;
  font-size: 12px;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul.hide-of-log-info .bind-login-BH {
  margin: 16px auto 26px;
  text-align: center;
  line-height: 35px;
  width: 215px;
  height: 35px;
  background: #4F596D;
  border-radius: 2px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.88px;
  cursor: pointer;
}
body .login-frame-qm .wrap-one-of-BH .login-info-BH ul.hide-of-log-info .bind-login-BH:hover {
  opacity: 0.9;
}
